body {
    font-family: Arial, sans-serif;
    padding: 50px 0 0 380px;
}

.sidebar {
    width: 350px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background: black url('../../assets/pictures/backgrounds/black-background.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.header {
    margin-bottom: 30px;
}

.middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.logo-icon {
    width: 100px;
}

.sidebar .logo span {
    color: #ffffff;
}

.sidebar .welcome {
    font-size: 18px;
    margin-bottom: 10px;
}

.sidebar .welcome span {
    color: white;
    font-weight: bold;
}

.sidebar .email-icon {
    font-size: 20px;
    cursor: pointer;
}

.sidebar .datetime {
    text-align: center;
}

.sidebar-item-group {
    display: flex;
    flex-direction: column;
}

.sidebar-item-group div {
    padding: 15px;
    background-color: #2D2D2D;
    cursor: pointer;
    text-align: left;
    border-radius: 0;
    transition: all 0.08s ease-in-out;
}

.sidebar-item-group .sidebar-item-active {
    background-color: #878787;
    color: #ffffff;
    font-weight: bold;
}

.sidebar-item-group div:hover {
    background-color: #555;
}

.signout-button {
    width: 80%;
    padding: 10px;
    background: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.08s ease-in-out;
}

.signout-button:hover {
    background-color: grey;
    color: white;
}

.card-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;    
    transition: all 0.08s ease-in-out;
}

.card p {
    margin-bottom: -10px;
}

.card-icon {
    width: 50px;
    height: 50px;
    margin: 10px 0 30px;
    transform: scale(2);
}

.card:hover {
    background-color: #e9e9e9;
    font-weight: bold;
    transform: scale(1.05);
}
